@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');/* PAGE */
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

p {
  margin: 0;
}

h1, h2, h3 {
  font-family: 'Roboto', sans-serif;
}

.DoctorContainer,
.PatientContainer {
  width: 100%;
  display: flex;
  height: 100vh;
}
.LeftColumn,
.PatientLeftColumn{
  width: 30%;
  float: left;
  color: white;
}
.LeftColumn {
  background: linear-gradient(#8B38DF, #6372b8);
}
.PatientLeftColumn {
  background: linear-gradient(#42d66f, #6372b8);
}
.LeftColumn-WelcomePanel,
.PatientLeftColumn-WelcomePanel{
  width: 75%;
  margin: auto;
  text-align: center;
  padding-top: 50%;
}
.LeftColumn-WelcomePanel-Text p{
  opacity: 0.5;
}
.RightColumn,
.PatientRightColumn {
  width: 70%;
  background-color: #f8f8f8;
  float: right;

}
.RightColumn-TopPadding {
  height: 50px;
}
.RightColumn-Tabs {
  width: 100%;
}
.RightColumn-Tabs .Tab {
  -webkit-box-shadow: 0px 0px 87px 1px rgba(0,0,0,0.27);
  -moz-box-shadow: 0px 0px 87px 1px rgba(0,0,0,0.27);
  box-shadow: 0px 0px 87px 1px rgba(0,0,0,0.27);
  background-color: #f7f7f7;
  border-radius: 5px;
  height: 60vh;
  width: 75%;
  margin: 50px auto 50px auto;
}
.RightColumn-Tabs .Tab h2 {
  color: #8B38DF;
  font-weight: 500;
  font-size: 20px;
}
.RightColumn-Tabs .Tab .TabContainer .TabContainer-Title {
  text-align: center;
  padding-top: 20px;
}

.RightColumn-Tabs-Header h1 {
  color: #61709a;
}